beautifulsoup4
certifi
charset-normalizer
comtypes
EasyProcess
entrypoint2
idna
MouseInfo
mss
Pillow
psutil
PyAudio
PyAutoGUI
PyGetWindow
pyjokes
PyMsgBox
pyperclip
pypiwin32
PyRect
pyscreenshot
PyScreeze
pyttsx3
pytweening
pywin32
requests
soupsieve
SpeechRecognition
urllib3
wikipedia
pyautogui
pillow
pyaudio